<link
  href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
/>

<div class="container mt-4">
  {{#if alert}}
  <div class="alert alert-warning" style="border-radius: 2rem" role="alert">
    {{alert}}
  </div>
  {{/if}}
  <div class="row">
    <h2 class="font-weight-bold p-2">
      Admin console
    </h2>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-body mb-4 table-responsive">
        <table id="usersTable"width="100%">
        <thead>
          <tr>
            <th>
              <h5 class="font-weight-bold">
                discord Username
              </h5>
            </th>
            <th>
              Umass Email
            </th>
            <th>
              Verified
            </th>
            <th>
              is Admin
            </th>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
        </table>
      </div>
      <div class="card">
        <div class="card-header border-0">
          <div class="h4 font-weight-bold">More stuff</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-2">
                <h5 class="font-weight-bold">Add new Admin</h5>
                <form action="/u/admin/add-admin" method="POST" style="width: 100%;">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control font-weight-bold" name="discordUsername" placeholder="Discord username" aria-label="Discord username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary font-weight-bold" type="submit" id="button-addon2">Add</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="mb-2">
                <h5 class="font-weight-bold">Remove Admin</h5>
                <form action="/u/admin/remove-admin" method="POST" style="width: 100%;">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control font-weight-bold" name="discordUsername" placeholder="Admin's Discord username" aria-label="Discord username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-danger font-weight-bold" type="submit" id="button-addon2">Remove</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="font-weight-bold">Manual verification</h5>
                <form action="/u/admin/manual-auth" method="POST" style="width: 100%;">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control font-weight-bold" name="discordUsername" placeholder="Discord username#0000" aria-label="Discord username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-success font-weight-bold" type="submit" id="button-addon2">Verify</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tableData" hidden>
  {{userMap}}
</div>
<script>
  tableData = JSON.parse(document.getElementById("tableData").innerHTML)
  for(index in tableData){
    if(tableData[index].umassEmail == null) tableData[index].umassEmail = "Not Specified";
    if(tableData[index].umassVerified == false) tableData[index].umassVerified = `<div class="text-danger">No</div>`
    if(tableData[index].umassVerified == true) tableData[index].umassVerified = `<div class="text-success">Yes</div>`
    if(tableData[index].isAdmin) tableData[index].isAdmin = `<div class="text-danger font-weight-bold" onMouseOver="this.innerHTML="Remove Admin"" onMouseOut="this.style.color='green'">YES</div>`
    if(!tableData[index].isAdmin) tableData[index].isAdmin = `<div class="text-primary">No</div>`
    var eachrow = `
  <tr>
    <td>
      ${tableData[index].username}#${tableData[index].discriminator}
    </td>
    <td>
      ${tableData[index].umassEmail}
    </td>
    <td>
      ${tableData[index].umassVerified}
    </td>
    <td>
      ${tableData[index].isAdmin}
    </td>
  </tr>
  `;
    document.getElementById("tbody").innerHTML = document.getElementById("tbody").innerHTML + eachrow  
    }
</script>
<script
  src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"
></script>
<script
  src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"
></script>
<script>
  $(document).ready( function () {
    $('#usersTable').DataTable({responsive: true});
} );
</script>