<div class="container mt-4">
  <div class="row">
    <div>
      <h3 class="text-success font-weight-bold">
        We have sent an email.
      </h3>
      <p>
        Please click on the link in the email we sent to verify your account.
      </p>
    </div>
  </div>
</div>