<div class="container">
  <div class="row vh-100 justify-content-center align-items-center">
    <div class="container">
      <img src="/images/umass-discord-logo.webp" style="height: 10rem; border-radius: 50%;" />
      <h2 class="font-weight-bold">
        {{title}}
      </h2>
      <div class="card">
        <div class="card-header border-0">
          <h4 class="font-weight-bold">
            Verify that you are a UMass Student
          </h4>
        </div>
        <a
          class="card-body d-flex align-items-center justify-content-center"
          href="/auth/discord"
          style="background-color:#7289da; text-decoration: none;"
        >
          <img
            src="/images/discord-logo.png"
            style="max-height: 2rem;"
            class="px-2"
          />
          <h4 class="text-white font-weight-bold">
            Login with Discord
          </h4>
        </a>
      </div>
    </div>
  </div>
</div>