<div class="container mt-4">
  <div class="row">
    <div>
      <h3 class="text-warning">
        We're Sorry but we could not verify your email.
      </h3>
      <p>
        The reason could be that the link you have used has expired or is not valid.
        <a href="/">
          Please click here to try again.
        </a>
      </p>
    </div>
  </div>
</div>